{{ #ArgumentsString }}
constructor({{ ArgumentsString }}) {
    {{ #Statements }}
    {{ . }}
    {{ /Statements }}
}
{{ /ArgumentsString }}
{{ ^ArgumentsString }}
constructor()
{{ /ArgumentsString }}
